/*Heading 1 styles*/
	/* Eamon's Internal CSS Example */
	
	.header {
	width: 350px;
    	background-color: lightblue;
    	border: 3px solid darkblue;
    	border-radius: 25px;
   	padding: 15px;
   	display: inline-block;
    	margin: 25px;	
	}
	/* Paragraph styles*/
	p {
	color: orange;
	font-weight: 1000;
	text \-decoration: underline;
	}
	/*Anchor Styles*/
	a {
	color: red;
	} 


