/*Heading 1 styles*/
	/* Eamon's Internal CSS Example */
	
	.playlist {
	width: 350px;
    	background-color: lightblue;
    	border: 3px solid darkblue;
    	border-radius: 25px;
   	padding: 15px;
   	display: inline-block;
    	margin: 15px;	
	}

	.header {
	width: 350px;
    	background-color: lightblue;
    	border: 3px solid darkblue;
    	border-radius: 25px;
   	padding: 15px;
   	display: inline-block;
    	margin: 15px;	
	}

	/* Paragraph styles*/
	p {
	color: orange;
	font-weight: 1000;
	} 

	.table {
	margin: 15px;
	padding: 15px;
	color: black;
	width: 250px;
	font-size: 10px;
	border:2px solid black;
	text-align:center;
	border-collapse:collapse;
	}	
	
	.footer {
	border: 1px solid black;
	border-radius: 0px;
	background-image: url("Baby_Milo.jpeg.jpeg");
	background-size: 2.5%;
	}
	


